/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LIGHT MODE */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  transition: background 0.4s, color 0.4s;
}

/* DARK MODE */
body.dark {
  background-color: #121212;
  color: #f4f4f4;
}

/* DARK MODE BUTTON */
#darkModeBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 10px 15px;
  border: none;
  background: #2c3e50;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1000;
}

/* HEADER */
header {
  background: linear-gradient(to right, #2c3e50, #34495e);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  transition: transform 0.4s;
}

.profile-img:hover {
  transform: scale(1.15);
}

/* NAV */
nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
section {
  background-color: white;
  margin: 25px;
  padding: 30px;
  border-radius: 12px;
  transition: background 0.4s;
}

body.dark section {
  background-color: #1e1e1e;
}

/* SKILLS */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background: #ecf0f1;
  width: 150px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.4s, box-shadow 0.4s;
}

body.dark .skill-card {
  background: #2c2c2c;
}

.skill-card img {
  width: 80px;
}

.skill-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

/* PROJECTS */
.project-card {
  background: #ecf0f1;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

body.dark .project-card {
  background: #2c2c2c;
}

/* FOOTER */
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* MOBILE */
@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }
}